/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // lower time limit for annotate genes
    withName: '.*ANNOTATEGENES.*' {
        cpus     = 1
        memory   = { 6.GB * task.attempt }
        time     = { 0.5.h * task.attempt }
        maxForks = 10
    }

    // move tabix output to longphase subdirectory
    withName: '.*PHASING:TABIX_TABIX.*' {
        publishDir = [path: "${params.outdir}/longphase", mode: params.publish_dir_mode]
    }
    // move samtools index result to whatshap subdirectory
    withName: '.*PHASING:SAMTOOLS_INDEX.*' {
        publishDir = [path: "${params.outdir}/whatshap", mode: params.publish_dir_mode]
    }
    // distinguish germline and somatic calls
    withName: '.*SV_CALLING_GERMLINE.*' {
        ext.prefix = { meta.condition == "normal" ? "${meta.id}_germline" : "${meta.id}" }
    }

    withName: '.*ANNOTATE_SV.*' {
        ext.prefix = { "${meta.id}_${meta.condition}" }
    }

    withName: LONGCALLD {
        ext.args = params.longcalld_platform ? "${params.longcalld_platform}" : ''
    }

    withName: '.*BCFTOOLS_VIEW.*' {
        ext.prefix = { "${meta.id}.view" }
        ext.args   = { '-i \'SVTYPE=\"INS\" | SVTYPE=\"DEL\"\' -Oz' }
        publishDir = [path: "${params.outdir}/longcalld", enabled: false]
    }

    withName: '.*BCFTOOLS_ANNOTATE.*' {
        ext.prefix = { "${meta.id}_germline.sv_only" }
        ext.args   = { '--set-id \'longcallD.%INFO/SVTYPE\\.%CHROM\\.%POS\'' }
        publishDir = [
            path: "${params.outdir}/longcalld",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.csi') ? null : filename },
        ]
    }

    withName: BIOMART {
        ext.args = params.genome_build ? "${params.genome_build}" : ''
    }

    withName: BCFTOOLS_QUERY {
        ext.args   = "-f '%CHROM\\t%POS\\t%ID\\t%INFO/SVTYPE\\t%INFO/STRANDS\\t%INFO/STRAND\\t%INFO/BP_NOTATION\\n' -u -H"
        publishDir = [path: "${params.outdir}/raw_calls", enabled: false]
    }

    withName: WGET {
        ext.suffix = "txt"
        publishDir = [path: "${params.outdir}/oncokb", mode: params.publish_dir_mode]
    }

    withName: CSVTK_CONCAT {
        publishDir = [
            path: { "${params.outdir}/annotated_sv" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                }
                def suffix = meta.min_callers == 1 ? 'union.annotated_sv' : 'consensus.annotated_sv'
                return "${meta.id}_${meta.condition}.${suffix}.tsv"
            },
        ]
    }

    withName: MINDA {
        ext.args = params.filter_bed ? "--bed ${params.filter_bed}" : ''
    }

    withName: NANOMONSV_PARSE {
        ext.prefix = { "${meta.id}.${meta.condition}" }
    }

    withName: '.*SAVANA.*' {
        ext.model_args = params.savana_model ?: ''
    }

    withName: '.*SAVANA_CNA.*' {
        ext.model_args = params.savana_model ?: ''
        ext.args       = params.main_cn_step_change ? "--main_cn_step_change ${params.main_cn_step_change}" : ''
    }

    withName: LONGPHASE_PHASE {
        ext.args = params.longphase_platform
    }

    withName: '.*WAKHAN.*' {
        ext.args  = "--bin-size ${params.binsize} --contigs ${params.contigs} --phaseblocks-enable --loh-enable --copynumbers-subclonal-enable"
        ext.args2 = params.input_genes ? "--user-input-genes ${params.input_genes}" : ''
    }

    withName: '.*WAKHAN_REPHASE_CNA' {
        ext.args  = "--bin-size ${params.binsize} --contigs ${params.contigs} --phaseblocks-enable --loh-enable --copynumbers-subclonal-enable"
        ext.args1 = params.use_sv_haplotypes ? "--use-sv-haplotypes" : ''
        ext.args2 = params.input_genes ? "--user-input-genes ${params.input_genes}" : ''
    }

    withName: SEVERUS {
        ext.args = "--output-read-ids"
    }

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
