/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*TLDR.*' {
        cpus     = { 6 * task.attempt }
        memory   = { 100.GB * task.attempt }
        time     = { 8.h * task.attempt }
        ext.args = { "--min_te_len ${params.tldr_min_len} --max_te_len ${params.tldr_max_len} --max_cluster_size ${params.tldr_max_cluster_size}" }
    }
    // index longcalld cram
    withName: '.*BAM_TE_CALLING:SAMTOOLS_INDEX.*' {
        publishDir = [path: "${params.outdir}/longcalld", mode: params.publish_dir_mode]
    }
    // sort longcalld cram
    withName: '.*BAM_TE_CALLING:SAMTOOLS_SORT.*' {
        ext.prefix = { "${meta.id}_phased_refined.sorted" }
        ext.args   = "--output-fmt cram"
        publishDir = [path: "${params.outdir}/longcalld", mode: params.publish_dir_mode]
    }
    // args for using longcallD for TE annotation
    withName: '.*BAM_TE_CALLING:LONGCALLD.*' {
        cpus             = 12
        memory           = { 150.GB + 50.GB * (task.attempt - 1) }
        time             = { 4.h * task.attempt }
        ext.prefix       = { "${meta.id}.all_variants" }
        ext.args         = "${params.longcalld_platform}"
        ext.somatic_args = params.skip_somatic_te ? "" : "--mosaic"
        ext.te_args      = params.longcalld_te_fasta ? "-T ${params.longcalld_te_fasta}" : ''
        ext.aln_args     = { params.longcalld_realign ? "--refine-aln -C ${meta.id}_phased_refined.cram" : '' }
        publishDir       = [
            path: "${params.outdir}/longcalld",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.cram') ? null : filename },
        ]
    }

    // get just svs from longcallD for annotation
    withName: '.*BAM_TE_CALLING:BCFTOOLS_ANNOTATE.*' {
        ext.prefix = { "${meta.id}.sv_only" }
        ext.args   = { '--set-id \'longcallD.%INFO/SVTYPE\\.%CHROM\\.%POS\'' }
        publishDir = [
            path: "${params.outdir}/longcalld",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.csi') ? null : filename },
        ]
    }
    // lower time limit for annotate genes
    withName: '.*ANNOTATEGENES.*' {
        cpus     = 1
        memory   = { 6.GB * task.attempt }
        time     = { 0.5.h * task.attempt }
        maxForks = 10
    }

    // move tabix output to longphase subdirectory
    withName: '.*PHASING:TABIX_TABIX.*' {
        publishDir = [path: "${params.outdir}/longphase", mode: params.publish_dir_mode]
    }
    // move samtools index result to whatshap subdirectory
    withName: '.*PHASING:SAMTOOLS_INDEX.*' {
        publishDir = [path: "${params.outdir}/whatshap", mode: params.publish_dir_mode]
    }
    // distinguish germline and somatic calls
    withName: '.*SV_CALLING_GERMLINE.*' {
        ext.prefix = { meta.condition == "normal" ? "${meta.id}_germline" : "${meta.id}" }
    }

    withName: '.*ANNOTATE_SV.*' {
        ext.prefix = { "${meta.id}_${meta.condition}" }
    }

    withName: LONGCALLD {
        ext.args = params.longcalld_platform ? "${params.longcalld_platform}" : ''
    }

    withName: '.*BCFTOOLS_VIEW.*' {
        ext.prefix = { "${meta.id}.view" }
        ext.args   = { '-i \'SVTYPE=\"INS\" | SVTYPE=\"DEL\"\' -Oz' }
        publishDir = [path: "${params.outdir}/longcalld", enabled: false]
    }

    withName: '.*SV_CALLING_GERMLINE:BCFTOOLS_ANNOTATE.*' {
        ext.prefix = { "${meta.id}_germline.sv_only" }
        ext.args   = { '--set-id \'longcallD.%INFO/SVTYPE\\.%CHROM\\.%POS\'' }
        publishDir = [
            path: "${params.outdir}/longcalld",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.csi') ? null : filename },
        ]
    }

    withName: BIOMART {
        ext.args = params.genome_build ? "${params.genome_build}" : ''
    }

    withName: BCFTOOLS_QUERY {
        ext.args   = "-f '%CHROM\\t%POS\\t%ID\\t%INFO/SVTYPE\\t%INFO/STRANDS\\t%INFO/STRAND\\t%INFO/BP_NOTATION\\n' -u -H"
        publishDir = [path: "${params.outdir}/raw_calls", enabled: false]
    }

    withName: WGET {
        ext.suffix = "txt"
        publishDir = [path: "${params.outdir}/oncokb", mode: params.publish_dir_mode]
    }

    withName: CSVTK_CONCAT {
        publishDir = [
            path: { "${params.outdir}/annotated_sv" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                }
                def suffix = meta.min_callers == 1 ? 'union.annotated_sv' : 'consensus.annotated_sv'
                return "${meta.id}_${meta.condition}.${suffix}.tsv"
            },
        ]
    }

    withName: ANNOTSV_ANNOTSV {
        ext.args   = { "-genomeBuild ${params.annotsv_genomebuild} -SVminSize 0" }
        publishDir = [
            path: { "${params.outdir}/annotsv" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                }
                def suffix = meta.min_callers == 1 ? 'union.annotsv' : 'consensus.annotsv'
                return "${meta.id}_${meta.condition}.${suffix}.tsv"
            },
        ]
    }

    withName: SURVIVOR_BEDPETOVCF {
        publishDir = [
            path: { "${params.outdir}/survivor" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                }
                def suffix = meta.min_callers == 1 ? 'union' : 'consensus'
                return "${meta.id}_${meta.condition}.${suffix}.vcf"
            },
        ]
    }

    withName: MINDA {
        ext.args = params.filter_bed ? "--bed ${params.filter_bed}" : ''
    }

    withName: NANOMONSV_PARSE {
        ext.prefix = { "${meta.id}.${meta.condition}" }
    }

    withName: '.*SAVANA.*' {
        ext.model_args = params.savana_model ?: ''
    }

    withName: '.*SAVANA_CNA.*' {
        ext.model_args = params.savana_model ?: ''
        ext.args       = params.main_cn_step_change ? "--main_cn_step_change ${params.main_cn_step_change}" : ''
    }

    withName: LONGPHASE_PHASE {
        ext.args = params.longphase_platform
    }

    withName: '.*WAKHAN.*' {
        ext.args  = "--bin-size ${params.binsize} --contigs ${params.contigs} --phaseblocks-enable --loh-enable --copynumbers-subclonal-enable"
        ext.args2 = params.input_genes ? "--user-input-genes ${params.input_genes}" : ''
    }

    withName: '.*WAKHAN_REPHASE_CNA' {
        ext.args  = "--bin-size ${params.binsize} --contigs ${params.contigs} --phaseblocks-enable --loh-enable --copynumbers-subclonal-enable"
        ext.args1 = params.use_sv_haplotypes ? "--use-sv-haplotypes" : ''
        ext.args2 = params.input_genes ? "--user-input-genes ${params.input_genes}" : ''
    }

    withName: SEVERUS {
        ext.args = "--output-read-ids"
    }

    withName: CLAIRS {
        ext.args   = { "--platform ${params.clairs_platform}" }
        cpus       = 12
        memory     = { 150.GB + 50.GB * (task.attempt - 1) }
        time       = { 24.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/clairs/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: VCF2MAF {
        ext.args   = {
            def base_args = "--ncbi-build ${params.ncbi_build} --species ${params.vep_species}" + (params.inhibit_vep ? ' --inhibit-vep' : '')
            if (params.somatic_snv_caller == 'clairs') {
                base_args += ' --vcf-tumor-id SAMPLE'
            }
            else if (params.somatic_snv_caller == 'deepsomatic') {
                base_args += ' --vcf-tumor-id tumor --vcf-normal-id normal'
            }
            return base_args
        }
        ext.prefix = { meta.variant ? "${meta.id}.${meta.variant}" : "${meta.id}" }
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/vcf2maf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: FIXMAFBARCODES {
        ext.prefix = { meta.variant ? "${meta.id}.${meta.variant}" : "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/smallvariant_maf/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DEEPSOMATIC {
        ext.args = { "--model_type=${params.deepsomatic_model}" }
    }

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
