/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run shahcompbio/nanogenome -profile test_phasing,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h',
    ]
    withName: CLAIR3 {
        ext.args = '--ctg_name=chr22'
    }
    withName: WAKHAN_REPHASE_CNA {
        container = "quay.io/shahlab_singularity/wakhan:94effdd"
        ext.args3 = "--change-point-detection-for-cna"
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check phasing workflow'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                      = params.pipelines_testdata_base_path + 'nanogenome/samplesheet_cna_only.csv'
    // Genome references
    fasta                      = params.pipelines_testdata_base_path + 'nanogenome/reference/GRCh38_chr22.fa'
    fai                        = params.pipelines_testdata_base_path + 'nanogenome/reference/GRCh38_chr22.fa.fai'
    vntr_bed                   = params.pipelines_testdata_base_path + 'nanogenome/reference/human_GRCh38_no_alt_analysis_set.trf.bed'
    // ascat options
    ascat_allele_files       = params.pipelines_testdata_base_path + 'nanogenome/reference/ascat/G1000_alleles_WGS_hg38/G1000_alleles_hg38_chr22.txt'
    ascat_loci_files        = params.pipelines_testdata_base_path + 'nanogenome/reference/ascat/G1000_loci_WGS_hg38/G1000_loci_hg38_chr22.txt'
    ascat_chroms = "c('chr22')"
    // wakhan options
    contigs                    = 'chr22'
    // skip sv calling and phasing workflows
    skip_phasing               = true
    germline                   = false
    skip_somatic               = true
    skip_cna                   = false
}
