name: Update nf-test snapshots from a comment
on:
  issue_comment:
    types: [created]

env:
  NFT_VER: "0.9.3"
  NXF_ANSI_LOG: false

jobs:
  update-snapshots:
    # Only run if comment is on a PR with the main repo, and if it contains the magic keywords
    if: >
      contains(github.event.comment.html_url, '/pull/') &&
      contains(github.event.comment.body, '@nf-core-bot') &&
      contains(github.event.comment.body, 'update snapshots') &&
      github.repository == 'shahcompbio/nanogenome'
    runs-on: ubuntu-latest
    steps:
      # Use the @nf-core-bot token to check out so we can push later
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: ${{ secrets.nf_core_bot_auth_token }}
          fetch-depth: 0

      # indication that the command is running
      - name: React on comment
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: eyes

      # Action runs on the issue comment, so we don't get the PR by default
      # Use the gh cli to check out the PR
      - name: Checkout Pull Request
        run: gh pr checkout ${{ github.event.issue.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.nf_core_bot_auth_token }}

      # Install dependencies and run nf-test
      - name: Setup Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "25.04.0"

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"

      - name: Install nf-test
        uses: nf-core/setup-nf-test@v1
        with:
          version: "${{ env.NFT_VER }}"
          install-pdiff: true

      - name: Run nf-test to update snapshots
        id: nf-test
        run: |
          nf-test test \
            --profile=+docker \
            --update-snapshot \
            --verbose
        continue-on-error: true

      # indication that the run has finished
      - name: react if finished successfully
        if: steps.nf-test.outcome == 'success'
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: "+1"

      - name: Commit & push changes
        id: commit-and-push
        if: steps.nf-test.outcome == 'success'
        run: |
          git config user.email "core@nf-co.re"
          git config user.name "nf-core-bot"
          git config push.default upstream
          git add .
          git status
          git commit -m "[automated] Update nf-test snapshots"
          git push

      - name: react if snapshots were updated
        id: react-if-updated
        if: steps.commit-and-push.outcome == 'success'
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: hooray

      - name: react if snapshots were not updated
        if: steps.commit-and-push.outcome == 'failure'
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: confused

      - name: comment if snapshots were not updated
        if: steps.commit-and-push.outcome  == 'failure'
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            @${{ github.actor }} I tried to update the snapshots, but it didn't work. Please update them manually.
            See [CI log](https://github.com/shahcompbio/nanogenome/actions/runs/${{ github.run_id }}) for more details.
